<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
    <h1>This is about page</h1>

    <div class="host-tag" th:replace="~{base :: parent(~{::section})}">

    <section>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
            atque ex ab est sequi eaque sunt a ipsa molestiae repellendus!
        </p>
    </section>

    </div>
</body>
</html>
